body{background-color:#333;}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:3rem;
    color:silver;
    text-align:center;
    text-transform:uppercase;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 0.2rem;
    margin-top:5rem;
    margin-bottom:3rem;
}


.favourites {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: silver;
    text-align: center;
    list-style: inside;
    line-height: 0.3rem;

}

h2{
    color:gray;
    font-size:1.1rem;
}

table{
    margin-left:5rem;
    margin-right:5rem;
    margin-bottom:10rem;
    background-color:slategrey;
}

table,tr, th,td,caption {
    border: 2px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    padding: 0.7rem;
}

th{
    font-size:1.3rem;
}

a{
    color:midnightblue;
    text-decoration:none;
}

a:visited{
    color:midnightblue;
}

a:hover{
    color:slateblue;
}

.ten{
    color:limegreen;
    
}

.nine{
    color:yellowgreen;
    
}

.eight{
    color:gold;
 
}
.seven{
    color:orange;
    
}

.six{
    color:orangered;
   
}



